<div class="card">
  <div class="card-header">Privacy Policy</div>
  <div class="card-body">
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Debitis necessitatibus labore reiciendis quod nesciunt! Quos libero qui deleniti magnam, pariatur molestiae vitae odio, sequi doloribus veritatis quisquam harum delectus laborum?
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit laborum voluptatibus sed qui facere accusantium, distinctio, illo omnis excepturi eius assumenda, at quidem voluptates sequi! Cumque odio autem voluptatum quisquam.
  </div>
  <div class="card-footer">
    <%= link_to "Back to home", :root, class: "btn btn-primary" %>
  </div>
</div>