@import url('https://fonts.googleapis.com/css?family=Cairo:300,400,600|Lobster|Pacifico&display=swap&subset=cyrillic,cyrillic-ext');
// font-family: 'Lobster', cursive;
// font-family: 'Pacifico', cursive;
// font-family: 'Cairo', sans-serif;
h1,
h2,
h3,
h4 {
font-family: 'Lobster', cursive;
}


.navbar-brand {
font-family: 'Cairo', sans-serif;
font-size: 35px;
}
body {
font-family: 'Cairo', sans-serif;

}



.bg-rainbow {
  background: linear-gradient(90deg, rgba(58,109,180,1) 16%, rgba(253,83,29,1) 59%, rgba(252,176,69,1) 100%);

}

.navbar {
  height: 6rem;
}


.border-gradient {
  border-bottom: 0.4rem solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(90deg, rgba(58,109,180,1) 16%, rgba(253,83,29,1) 59%, rgba(252,176,69,1) 100%);
}

.card-header a {
  color: black;
  text-decoration: none;

}