<footer class="py-3 bg-light mt-5 border border-top">
  <div class="container">
    <div class="row">
      <div class="col-md-4 border-left">
        Copyright &copy; <%= Time.now.year %>
          <%= mail_to 'arturd444@gmail.com' %>        
      </div>
      <div class="col-md-4">
        
      </div>
      <div class="col-md-4 border-left">
        Privacy Policy
        <br>
        Abous us       
      </div>
    </div>
  </div>
</footer>